/* 
* Typography
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


/*
* Color Variables
*/

$light-grey: #eee;
$med-grey: #666;
$dark-grey: #444;
$highlight-color: black;


/*
* Animation Variables
*/

$timing: .4s;
$ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);


/* 
* Global
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  padding: 20px 20px 50px 20px;
  width: 100%;

  @media screen and (min-width: 999px) {
    max-width: 550px;
  }

  @media screen and (max-width: 960px) {
    padding-top: 0px;
  }
}

/* Basic Accordion Styles */
.accordion {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0 1px 8px rgba(#000,.25);

  @media screen and (max-width: 960px) {
    margin-top: 20px;
  }
  
  /* Radio Inputs */
  input[name='panel'] {
    display: none;
  }

  /* Labels */
  label {
    position: relative;
    display: block;
    padding: 1em;
    font-size: 1.5em;
    color: $med-grey;
    cursor: pointer;
    
    &:after {
      content: '+';
      position: absolute;
      right: 1em;
      width: 1em;
      height: 1em;
      color: black;
      text-align: center;
      border-radius: 50%;
    }
    
    &:hover {
      // color: $highlight-color;
    }
      
  }
  
  input:checked + label {
    color: $highlight-color;
    
    &:after {
      content: '-';
      /* adjsut line-height to vertically center icon */
      line-height: .8em;
    }
    
  }
  
  /* Panel Content */
  .accordion__content {
    border-bottom: thin solid $light-grey;
    overflow: hidden;
    height: 0px;
    position: relative;
    padding: 0 1.5em;
    color: black;
    transition: height $timing $ease;
    
    .accordion__header {
      padding: 1em 5;
    }
      
    .accordion__body {
      font-size: .825em;
      line-height: 1.4em;
    }
    
  }
   
}


/* 
* Size Variations
*/

input[name='panel']:checked ~ .accordion__content.accordion__contentSmall {
  height: 100px;
}

input[name='panel']:checked ~ .accordion__content.accordion__contentMedium {
  height: 170px;
}

input[name='panel']:checked ~ .accordion__content.accordion__contentLarge {
  height: 210px;
}

.basic {
  border: thin solid red;
}

.minimal {
  border: thin solid green;
}

.transparent {
  border: thin solid blue;
}

.thick {
  border: thin solid yellow;
}

.dark {
  border: thin solid black;
}

.professional {
  border: thin solid purple;
}
