.container {
  margin: auto;
  display: flex;
  max-width: 1200px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
}

h3 {
  font-size: 25px;
  font-family: 'Fjalla One', sans-serif;
}
