body {
  margin: 0;
  padding: 0;
}

.cm-s-default, .ReactCodeMirror {
  height: 100% !important;
}

.cm-s-default {
  border-radius: 5px;
  border: thin solid rgb(185, 185, 185);
  margin: 20px 0px;
}