.themeBtn {
  border: thin solid black;
  margin: 0px 10px 10px 0px;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.wellBtn {
  border: none;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.29);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.29);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.29);
}

.basicBtn {
  background-color: rgba(61, 116, 244, 1);
  color: white;
  border: none;
  border-bottom: 2px solid rgb(39, 80, 177);
  border-left: 2px solid rgb(60, 106, 214);
}

.darkBtn {
  background-color: rgb(39, 40, 43);
  color: rgb(190, 190, 190);
}

.professionalBtn {
  border: thin solid rgba(244, 61, 61, 1);
  background-color: rgba(244, 61, 61, 1);
  color: white;
}